[user]
	email = you_email@gmail.com
	name = vikbert
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pager]
	branch = false